@import "tailwindcss";
@source "../index.html";
@source "./**/*.{js,jsx,ts,tsx}";

/* ✅ هنا بقى مكان الـ config في v4 */
@theme {
  --font-zentry: "zentry", sans-serif;
  --font-circular-web: "circular-web", sans-serif;
  --font-general: "general", sans-serif;
  --font-robert-medium: "robert-medium", sans-serif;
  --font-robert-regular: "robert-regular", sans-serif;
}
@theme {
  /* Blue Colors */
  --color-blue-50: #dfdff0;
  --color-blue-75: #dfdff2;
  --color-blue-100: #dfdffa;
  --color-blue-200: #101010;
  --color-blue-300: #4fb7dd;
  /* VIOLLET Colors */
  --color-violet-300: #5724ff;

  /* YELLLOW Colors */
  --color-yellow-100: #8e983f;
}

body {
  font-family: var(--font-general), sans-serif;
  width: 100dvw;
  background-color: #dfdff0;
  overflow-x: hidden;
}
